body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.container {
	margin-top: 40px;
}

.section-row{
	border-bottom: 2px;
	border-bottom-color: rgb(201, 201, 201);
	border-bottom-style: solid;
}

#profile-pic{
	margin-bottom: 4px;
}